* {
    box-sizing: border-box;
}

.bb111 {
	font-style: italic;
	font-family: "Times New Roman",Georgia, Serif;
	margin:0;
    background-image: url(sakura.jpg);
	background-size: 1000px, 500px;
    margin: 0px 0px 0px 0px;
}

A:link { text-decoration: none; }
A:visited { text-decoration: line-through;}
A:active { text-decoration: line-through; }
A:hover { 
 text-decoration: underline; 
 color: #DC7093;
 } 
 class {
     text-align: center;
  }
header {
    height: 200px;
    background-color:#F7CAC9;
    }
    
footer {
     width: 10%;
	position: fixed;
	bottom: 0;
    display: flex;
    flex-direction: row;
    max-width: auto;
    max-height: 25px;
    text-align: justify;
    background: #F7CAC9;
    padding: auto;
}
img.wdth{
	width: 250px;
	height: 350px;
	}
	
.cake {
position: relative;
top: 20px;
bottom: 200px;
left: 0px; 
right: 40px; 
}


.ss111 {
    background-color: #F7CAC9;
    border-radius: 15px;
     text-align: center;
  }
  
  .ss11 {
    background-color: #F7CAC9;
    border-radius: 15px;
     text-align: center;
  }

.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #464141;
}
.rift {
    color: #ff80ad;
    font-style: italic;
}

